#tictactoe .row {
	clear:both;
}

#tictactoe .cell {
	width:60px;
	height:60px;
	float:left;
	border: 1px solid black;
	margin: 1px;
}

#tictactoe .cell.blue {
	background-color: rgb(0,0,200);
}

#tictactoe .cell.red {
	background-color: rgb(200,0,0);
}

#turn-indicator {
	clear:both;
}
